<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/includeCssJs :: cssjs">
    <title id="pageTitle">Newsletter</title>
</head>
<body>
<div th:replace="fragments/includeMenu :: header"></div>
<div class="container">
    <div class="col-12 col-md-12">
        <h2 class="text-center text-primary display-4">Newsletter</h2>
    </div>
    <br>
    <div class="col-12 col-md-12">
        <h2 class="text-center text-primary">Wyszukiwanie</h2>
    </div>
    <form th:action="@{/admin/newsletter/search}" method="get">
        <div class="col-md-7 mx-auto">
            <div class="form-group my-3">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">?</span></div>
                    <input name="value" type="text" id="value" class="form-control"/></div>
                <div class="text-center">
                    <label>Szukaj po:</label>
                    <div class="form-check form-check-inline"><label class="form-check-label">
                        <input type="radio" name="option" value="1" checked="checked"/>Adresie e-mail</label></div>
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary m-3 text-white" type="submit"><i class="fa fa-fw fa-search"></i>Szukaj
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div th:if="${param.delete!=null}">
        <div class="col-md-4 col-md-offset-4 mx-auto">
            <div class="alert alert-success  text-center">
                <h3><i class="fa fa-lg fa-check"></i>Pomyślnie usunięto użytkownika z newslettera </h3>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Imię</th>
                    <th class="text-center">Adres e-mail</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <th:block th:each="newsletter : ${newsletterList}">
                    <tr>
                        <td class="text-center" th:text="${newsletter.id}"/>
                        <td class="text-center" th:text="${newsletter.name}"/>
                        <td class="text-center" th:text="${newsletter.email}"/>
                        <td>
                            <a class="btn btn-danger delete-btn btn-xs" th:href="@{'/admin/newsletter/delete/'+${newsletter.id}}">Usuń</a>
                        </td>
                    </tr>
                </th:block>
            </table>
            <br>
        </div>
    </div>
</div>
<div th:replace="fragments/includeFooter :: footer"></div>
</body>
</html>